.header {
    flex-direction: row;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: #3b5998;
            font-weight: bold;
            display: inline-block;
            border: 2px #3b5998 solid;
            background-color: #e3ebfd;
            padding: 5px;
        }
    }
}